# Only for local development
NODE_ENV=development

LCN_API_PORT=5810
LCN_DB_URI=mongodb://127.0.0.1:27017/
LCN_REDIS_URI=redis://user:pass@127.0.0.1:6379/

LCN_DISCORD_CLIENT_ID=
LCN_DISCORD_CLIENT_SECRET=
LCN_DISCORD_CLIENT_TOKEN=

# How many hosts will the bot run on
LCN_SERVER_HOST_COUNT=1
# Total number of bot shards
LCN_SERVER_SHARD_COUNT=1
LCN_SERVER_HOST=localhost
LCN_SERVER_PORT=5565
LCN_SERVER_AUTHORIZATION=

LCN_GRAFANA_URL=
LCN_GRAFANA_API_KEY=
LCN_GRAFANA_DATASOURCE_UID=
GRAFANA_LOKI=host;username;password

LCN_GOOGLE_API_KEY=
LCN_GEMINI_API_KEY=

LCN_BOTS_GG_API_KEY=
LCN_TOP_GG_API_KEY=
LCN_TOP_GG_WEBHOOK_SECRET=

LCN_PAYPAL_CLIENT_ID=
LCN_PAYPAL_SECRET=

# Telegram bot token for logs
LCN_TELEGRAM_BOT_TOKEN=
# Telegram channel id for logs
LCN_TELEGRAM_LOG_CHAT_ID=
# Public telegram bot token for crossposts
LCN_TELEGRAM_PUBLIC_BOT_TOKEN=
# Is needed to verify telegram bot signature
LCN_TELEGRAM_PUBLIC_BOT_HMAC_SECRET=

LCN_TWITCH_CLIENT_ID=
LCN_TWITCH_CLIENT_SECRET=
# Is needed to verify twitch signature
LCN_TWITCH_SIGNING_SECRET=

LCN_ROOT_DOMAIN=localhost
# Only for local development
LCN_WEBSITE_PORT=5820

LCN_LAVALINK_NODES=NAME:IP:PORT:PASSWORD

# Is needed to verify PubSubhubbub signature
LCN_YOUTUBE_HMAC_SECRET=

LCN_SUPPORT_SERVER_ID=
LCN_PROJECT_TEAM_ROLE_ID=
LCN_SUBSCRIBED_PATRON_ROLE_ID=
LCN_ACTIVE_PATRON_ROLE_ID=
LCN_LONG_TERM_PATRON_ROLE_ID=
LCN_BIG_PATRON_ROLE_ID=
LCN_FORMER_PATRON_ROLE_ID=
LCN_SERVER_BOOSTER_ROLE_ID=
LCN_NEWS_CHANNEL_ID=
LCN_NEWS_ROLE_ID=