/* GLOBAL STYLES */

@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Regular.ttf);
}

body {
  font-family: 'Ubuntu';
}

body.body--dark {
  background: $dark-2;
  color: $almost-white-1;
}

p {
  margin: 0;
}

a {
  color: $primary;
  text-decoration: none;
}

a.origin:hover {
  text-decoration: underline;
}

/* OVERWRITE FRAMEWORK STYLES */

.q-field--filled .q-field__control {
  color: transparent;
  background: rgba(130, 120, 150, 5.7%) !important;

  &:before {
    border-bottom: none !important;
  }
}

:not(.q-textarea) > .q-field__inner > .q-field__control,
.q-textarea--autogrow > .q-field__inner > .q-field__control {
  border-radius: $border-radius-lg !important;
}

.q-textarea:is(.rounded-b-lg) > .q-field__inner > .q-field__control {
  border-radius: 0 0 $border-radius-lg $border-radius-lg !important;
}

.q-linear-progress__track,
.q-circular-progress__track {
  opacity: 1 !important;
}

.q-hoverable:hover > .q-focus-helper {
  background: rgba(130, 120, 150, 5.7%) !important;
}

.q-menu {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}

/* OTHER */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 999px;
}

/* TRANSITIONS */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
  }
}

.q-notification-custom {
  transition: 0.3s ease-out all;
}
