/* COLORS */

/* Text */

.text-dark-1 {
  color: $dark-1 !important;
}

.text-dark-2 {
  color: $dark-2 !important;
}

.text--primary {
  color: $almost-white-1;
}

.text--secondary {
  color: $almost-white-3;
}

/* Background */

.bg-dark-1 {
  background: $dark-1 !important;
}

.bg-dark-2 {
  background: $dark-2 !important;
}

/* OPACITY */

.opacity-md {
  opacity: 0.7 !important;
}

.opacity-lg {
  opacity: 0.5 !important;
}

/* BORDER */

.rounded-md {
  border-radius: $border-radius-md !important;
}

.rounded-lg {
  border-radius: $border-radius-lg !important;
}

.rounded-t-lg {
  border-radius: $border-radius-lg $border-radius-lg 0 0 !important;
}

.rounded-b-lg {
  border-radius: 0 0 $border-radius-lg $border-radius-lg !important;
}

.dashed-border {
  border-width: 2px;
  border-style: dashed;
  border-color: $secondary;
}

/* OTHER HELPERS */

.partial-full-width {
  width: 85% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.rotate-5 {
  transform: rotate(5deg);
}

.rotate-5-reverse {
  transform: rotate(-5deg);
}

.rotate-10 {
  transform: rotate(10deg);
}

.menu-item--active {
  color: $almost-white-1;
  background: $secondary;
}

.break-word {
  word-break: break-word;
}

.patron-avatar {
  border: 3px solid $dark-1;
}

.big-patron-avatar {
  border: 3px solid $primary;
}

.q-dialog-card {
  max-width: 90vw !important;
  overflow: hidden;
}

.q-dialog-card-body {
  max-height: 75vh;
  overflow: auto;
}

/* STYLISH */

code {
  text-indent: 0;
  white-space: pre-wrap;
  background: $dark-1;
  border: 1px solid black;
  border-radius: $border-radius-md;
  padding: 1px;
  color: $almost-white-3;
}

pre > code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  text-size-adjust: none;
  border: 1px solid $dark-1;
  color: $almost-white-3;
}

pre {
  margin: 0.2em 0;
}

blockquote {
  margin: 0;
  margin-left: 0.3em;
  display: block;
}
